build/
.cache/
/compile_commands.json
cmake/CMakeCache.txt
cmake/CMakeFiles/
cmake/FindOpus.cmake
cmake/Makefile
cmake/cmake_install.cmake
cmake/jocika
media
cookies.txt
cmake-build-debug/
personal_log.txt
.idea
\\
